.pics {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 10px;
  }
  
  .vpic {
    max-width: 100%; /* Adjust as needed */
    height: auto;
    width: 60%;
    height: 40%;
  }
  
  .hpic {
    max-width: 100%; /* Adjust as needed */
    height: auto;
  }


  