body {
    background-color: rgba(0, 0, 0, 0);
}

p, h1, h2, h3, i, hr {
    color: black;
}

h3 {
    font-family: 'Ibarra Real Nova', serif;
    font-size: x-large;
}

p, li, .bio { 
    font-size: large;
}

.skill, .skill-description {
    font-family: 'Ibarra Real Nova', serif;
    font-size: large;
}

.skill-description {
    font-size: medium;
}

.bio {
    display: block;
    text-align: center;
    font-family: 'Ibarra Real Nova', serif;
}

.selfie {
    padding-top: 25px;
    height: 400px;
    width: 300px;
}

.course_table{
    text-align: center;
}

.fade {
    margin: 15px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.link-logo {
    color: black;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}

#textToToggle {
    display: none;
  }
  
.Experience {
    text-align: center;
}

.job-company {
    font-size: large;
}

.job-title {
    font-size: medium;
}

#test {
    font-family: "Space Mono", monospace;
}

.SKILLS, .WORKEXP {
    padding-top: 10px;
}

